body {
    position:absolute;
    overflow:scroll;
    
}

.container {
    position:absolute;
    width: 2000px;
    height: 1200px;
    background-color:antiquewhite;
}

.left-col {
    position:absolute;
    width: 400px;
    height: 1200px;
    background-color:#0094ff;
    left:10px;
}

.right-col {
    position:absolute;
    width: 1550px;
    height: 1200px;
    background-color:#0094ff;
    right:10px;
}

.select-figure {
    position:absolute;
    width: 390px;
    height: 500px;
    background-color:white;
    left:5px;
    top:5px;
}

.select-figure > label {
    margin: 15px;
    position: absolute;
    
}

.select-figure > ul {
     list-style-position: inside;     
     padding:0;
     left: 25px;  
     top: 25px;
     position: absolute;
     width: 340px;
     height: 470px; 

}

.select-figure > ul > li {
    padding:0;
     margin: 0;       
     width: 340px;
     height: 140px;
     border:none;
     list-style-type:none;
     border-style:hidden;
     border-width:3px;      
}

.select-figure > ul > #figure-type-Line{
    background-image: url(Content/line.png);
}

.select-figure > ul > #figure-type-Rectangle{
    background-image: url(Content/rectangle.png);
}

.select-figure > ul > #figure-type-Ellipse{
    background-image: url(Content/ellipse.png);
}

.select-color {
    position: absolute;
    width: 390px;
    height: 50px;
    background-color: white;
    left: 5px;
    top: 530px;
}

.select-color > label {
    margin: 15px;
    position: absolute;
}

.select-color > input {
    margin: 15px 110px;
    position: absolute;
}

.draw {
    position: absolute;
    width: 390px;
    height: 50px;
    background-color: white;
    left: 5px;
    top: 600px;
}

.painting-area {
    position: absolute;
    width: 1530px;
    height: 500px;
    background-color: #0094ff;
    right: 10px;
    left: 10px;
    top: 10px;
}

canvas {
    position:absolute;
    width: 1520px;
    height: 490px;
    background-color:white;
    right:5px;
    left:5px;
    top:5px;
}

.rotation {
     position: absolute;
    width: 730px;
    height: 50px;
    background-color: white;
    right: 10px;
    left: 10px;
    top: 530px;
}

.rotation > input {
    margin: 15px;
    width:700px;
    position: absolute;
}

.options-area {
    position: absolute;
    width: 730px;
    height: 50px;
    background-color: white;
    right: 10px;
    left: 10px;
    top: 600px;
    }

.option-button {    
    position:absolute;
    display: block;
    top:12px;
    left:10px;
}

.load-button {
    left: 150px;
}

.json-area {
    position: absolute;
    width: 1530px;
    height: 500px;
    background-color: white;
    right: 10px;
    left: 10px;
    top: 660px;    
}

.json-area > textarea {
    color: #0094ff;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.marked {  
    border-style:solid !important;    
    border-color: #0094ff !important;
}

